@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #343434;
    color: #fff;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
img.icon {
    width: 250px;
    margin: 40px;
}

img.icon:hover {
    transform: scale(1.1);
}

.user__form {
    width: 100%;
    max-width: 700px;
}

.form__input {
    width: 100%;
    display: block;
    background-color: #ececec;
    border: none;
    padding: 1rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.card {
    width: 700px;
    background-color: #424242;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    padding: 3rem;
    margin: 0 1.5rem;
}

.avatar {
    border-radius: 50%;
    border: 10px solid #2b2b2b;
    height: 150px;
    width: 150px;
}

.user__info {
    color: #eee;
    margin-left: 2rem;
}

.user__title{
    font-size: 2rem;
    margin-top: 0;
}

.user__info ul {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0;
    max-width: 400px;
}

.user__info ul li {
    display: flex;
    align-items: center;
}

.user__info ul li strong {
    font-size: 0.9rem;
    margin-left: 0.5rem;
}

.repo {
    text-decoration: none;
    background-color: #452e42;
    color: #fff;
    font-size: 0.7rem;
    padding: 0.25rem 0.5rem;  
    margin-right: 0.5rem;
    margin-bottom:  0.5rem;
    display: inline-block;
}